@font-face {
   font-family: Gilroy-SemiBold;
   src: url(Fonts/Gilroy-SemiBold.ttf);
}
@font-face {
   font-family: Gilroy-Black;
   src: url(Fonts/Gilroy-Black.ttf);
}
@font-face {
   font-family: Gilroy-Bold;
   src: url(Fonts/Gilroy-Bold.ttf);
}
@font-face {
   font-family: Gilroy-ExtraBold;
   src: url(Fonts/Gilroy-ExtraBold.ttf);
}

@font-face {
   font-family: Gilroy-Heavy;
   src: url(Fonts/Gilroy-Heavy.ttf);
}
@font-face {
   font-family: Gilroy-Light;
   src: url(Fonts/Gilroy-Light.ttf);
}
@font-face {
   font-family: Gilroy-Medium;
   src: url(Fonts/Gilroy-Medium.ttf);
}
@font-face {
   font-family: Gilroy-Thin;
   src: url(Fonts/Gilroy-Thin.ttf);
}
@font-face {
   font-family: Gilroy-UltraLight;
   src: url(Fonts/Gilroy-UltraLight.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Gilroy-Semibold;
}
html,body{
   height: 100%;
   width: 100%;
}

#main {
   width: 100%;
   height: 100vh;
   background-color: #eef8ff;
}

nav {
   display: flex;
   width: 100%;
   height: 10vh;
}

.left-nav, .right-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25vw;
   height: 100%;
   background-color: none;
   gap: 1.5vw;
}

.left-nav a {
   font-size: 2.2vw;
   text-decoration: none;
   color: #ff8000;

}
.centre-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2vw;
   width: 50vw;
   height: 100%;
}

.centre-nav a {
   font-family: Gilroy-Medium;
   color: #333;
   font-size: 0.9vw;
   text-decoration: none;
}

.search {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 12vw;
   height: 5vh;
   border-radius: 5px;
   padding-left: 1.5vw;
   gap: 0.5vw;
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search input{
   padding: 0.5vw 0.2vw;
   outline: none;
   border: none;
   background: none;
}
.search i{
   font-size: 1vw;
}
.cart {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.5vw;
   height: 2.5vw;
   background-color: #ff8000;
   border-radius: 5px;
   color: #fff;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 3vh;
   padding-left: 8.8vw;
   width: 60%;
   height: 90%;
}

.left h1 {
   font-size: 5vw;
   color: #333;
   font-family: Gilroy-Black;
}

.left h1:nth-child(2) {
   font-family: Gilroy-Thin;
}

.left p{
   width: 35vw;
   color: #aeaeae;
}

.left .search {
   width: 25vw;
   padding: 1.5vw 1vw;
   justify-content: space-between;
}

.left .search input {
   width: 25vw;
}
.left .search i {
   color: #ff8000de;
}
.left button {
   width: 8vw;
   padding: 1vw 2vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ff8000;
   color: #fff;
   border: none;
   border-radius: 5px;
}

.left button:hover {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}